body {
  background: #262626;
  font-family: "Lucida Console", Monaco, monospace;
  color: #fffafa;
}

/* main */

#main h1 {
  text-align: center;
}

#main {
  padding: 0;
  box-sizing: border-box;
  width: 60%;
  height: 100%;
}

/* book list */

#book-list {
  padding: 0;
}

#book-list li {
  display: inline-block;
  margin: 12px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #00ffff;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  color: #00ffff;
}

#book-list li:hover {
  background: #00ffff;
  color: #262626;
}

#book-list li:active {
  background: none;
  color: #fffafa;
}

/* add book form */
form {
  background: rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 300px;
}

form .field {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

form label {
  text-align: right;
  padding: 6px;
}

form select, form input {
  margin: 4px;
  padding: 6px;
  box-sizing: border-box;
}

form select {
  appearance: none;
  width: 140px;
}

form button {
  color: #fff;
  font-size: 2em;
  background: #00bfff;
  border: 0;
  padding: 0 10px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

/* book deatils */
#book-details {
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  background: #696969;
  padding: 30px;
  overflow: auto;
  box-shadow: -2px -3px 5px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}
